p1/2.a/data/*
p1/2.a/labels/*
p5/2.a/data/*
p5/2.a/labels/*
p11/2.a/data/*
p11/2.a/labels/*
p11/3.a/data/*
p11/3.a/labels/*
p16/3.a/data/*
p16/3.a/labels/*
p17/3.a/data/*
p17/3.a/labels/*
p18/2.a/data/*
p18/2.a/labels/*
p18/3.a/data/*
p18/3.a/labels/*
model*
*.save
*.pyc
