p1/2.a/data/*
p1/2.a/labels/*
p5/2.a/data/*
p5/2.a/labels/*
p11/2.a/data/*
p11/2.a/labels/*
p11/3.a/data/*
p11/3.a/labels/*
p16/3.a/data/*
p16/3.a/labels/*
p17/3.a/data/*
p17/3.a/labels/*
p18/2.a/data/*
p18/2.a/labels/*
p18/3.a/data/*
p18/3.a/labels/*
p1/2.a/data_cnn/*
p1/2.a/labels_cnn/*
p5/2.a/data_cnn/*
p5/2.a/labels_cnn/*
p11/2.a/data_cnn/*
p11/2.a/labels_cnn/*
p11/3.a/data_cnn/*
p11/3.a/labels_cnn/*
p16/3.a/data_cnn/*
p16/3.a/labels_cnn/*
p17/3.a/data_cnn/*
p17/3.a/labels_cnn/*
p17/2.a/data_cnn/*
p17/2.a/labels_cnn/*
p18/2.a/data_cnn/*
p18/2.a/labels_cnn/*
p18/3.a/data_cnn/*
p18/3.a/labels_cnn/*
model*
*.save
*.pyc
cnn_model.pt
